@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  } */
  
.navbar {
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-around;
    line-height: 4rem;
    background-color: white;
    width : 100%;
    z-index: 99;
    border-bottom: solid;
    border-color: #f53117;
}

.left h1 {
    color: #f53117;
    font-size: 2rem;
    cursor: pointer;
    /* text-decoration: none; */
}

.checkBtn {
    display: none;
}

#check {
    display: none;
}

.checkBtn {
    z-index: 6;
    float: right;
    cursor: pointer;
    font-size: 30px;
    color: #f53117;
    line-height: 80px;
    position: relative;
}

.right ul {
    display: flex;
    list-style: none;
}

.right ul li a {
    cursor: pointer;
    font-size: 1.2rem;
    padding: 10px 20px;
    transition: all 1s;
    text-decoration: none;
    color: rgb(20, 20, 20);
}

.right ul li a:hover {
    border-radius: 7px;
    background-color: #fff;
    color: rgb(22, 7, 36);
}


/* =============== Home Section CSS Code Starts from Here =============== */
#home {
    padding: 25px;
    padding-top: 115px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(235 232 229);
}

.home-left .col-red {
    margin-bottom: 10px;
}

.home-left .col-red p {
    padding: 4px;
    display: inline;
    font-weight: bold;
    border-radius: 25px;
    background: #edcbc1;
    color: rgb(245, 49, 23);
}

.home-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-left p {
    margin-bottom: 10px;
}

.home-left h1 {
    font-size: 50px;
    text-align: left;
    margin-bottom: 10px;
}

.home-right {
    height: 350px;
    width: 350px;
    cursor: pointer;
    transition: all .5s ease-in;
    padding-top: 30px;
    border-top-right-radius: 160px;
    border-bottom-left-radius: 160px;
    background-color: rgb(245, 49, 23);
    box-shadow: 0px 0px 12px 0px rgb(47 53 79);
    text-decoration: none;
   
}
a:link {
    color: rgb(0, 0, 0);
  }
  
  a:visited {
    color: rgb(0, 0, 0);
  }
  
  a:hover {
    color: green;
  }
  
  a:active {
    color: red;
  }
  
  a:link, a:visited {
    text-decoration: none;
  }

.home-right:hover {
    transform: translateY(-16px);
}

.home-right img {
    position: relative;
    bottom: 16px;
    left: 67px;
    z-index: 1;
    width: 158px;
}

.bg-red-btn {
    padding: 8px;
    width: 155px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 15rem;
    background: rgb(245, 49, 23);
    border: 1px solid rgb(245, 49, 23);
    
}

.bg-red-btn:hover {
    padding: 8px;
    margin-top: 10px;
    background: transparent;
    color: rgb(245, 49, 23);
    border: 1px solid rgb(245, 49, 23);
}


/* =============== Delivery Partner Section CSS Code Starts from Here =============== */
#delivery-partner {
    height: auto;
    padding: 40px;
    padding-top: 100px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

#delivery-partner h4,
h1 {
    text-decoration: none;
    /* decoration: none;  */
    text-align: center;
    margin-bottom: 15px;
}

.partners {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.partner {
    cursor: pointer;
    width: 300px;
    margin: 15px;
    padding: 9px;
    text-align: center;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: all .5s ease-in;
    box-shadow: 0px 0px 12px -1px black;
}

.partner:hover {
    transform: translateY(-12px);
}

.partner img {
    width: 100px;
}

.partners .left img {
    width: 70px;
}


/* =============== Main Section CSS Code Starts from Here =============== */

#chef-main {
    height: auto;
    padding: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

h4 {
    font-weight: bold;
    color: rgb(245, 49, 23);
}

#chef-main h4,
h1 {
    margin-bottom: 15px;
    text-align: center;
}

.chefs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.chef-item {
    margin: 15px;
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease-in;
}

.chef-item:hover {
    transform: scale(1.1)
}

.chef-item img {
    width: 250px;
    border-radius: 20px;
    box-shadow: 0px 0px 12px -1px black;
}


/* =============== Contact Section CSS Code Starts from Here =============== */
#contact {
    padding: 100px;
    color: black;
    background-color: rgb(255, 255, 255);
}

#contact h4,
h1 {
    text-align: center;
}

.main-form {
    display: block;
    margin: auto;
    padding: 10px;
    width: 355px;
}

.main-form input,
textarea {
    display: block;
    margin: auto;
    width: 90%;
    border: none;
    padding: 7px;
    margin: 10px auto;
    border-radius: 9px;
    background: #ede0e8;
}

.main-form button {
    display: block;
    margin: auto;
    width: 90%;
}


/* =============== Footer Section CSS Code Starts from Here =============== */
footer {
    
    padding: 15px;
    font-size: 18px;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(227, 240, 240);
}

/* =============== Media Queries Starts from Here for responsiveness =============== */

@media screen and (max-width:805px) {
    .list {
        z-index: 2;
        width: 100%;
        height: 100vh;
        position: fixed;
        left: 100%;
        display: flex;
        text-align: center;
        flex-direction: column;
        transition: all 1s;
        background-color: rgb(22, 7, 36);
    }

    .right ul li a {
        color: #fff;
        cursor: pointer;
        padding: 10px 20px;
        font-size: 1.2rem;
        transition: all 1s;
        text-decoration: none;
    }

    .right ul li a:hover {
        border-radius: 7px;
        color: rgb(22, 7, 36);
        background-color: #fff;
    }

    #check {
        display: none;
    }

    .checkBtn {
        display: block;
    }

    #check:checked~ul {
        left: 0%;
        top: 0%;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 717px) {
    .header {
        display: none;
    }
}

@media only screen and (max-width: 669px) {
    #home {
        flex-direction: column;
    }

    .home-left h1 {
        font-size: 30px;
    }

    .home-left p {
        font-size: 13.7px;
    }

    .home-right {
        width: 280px;
        margin-top: 20px;
    }

    .bg-red-btn {
        width: 85px;
        font-size: 10px;
        margin-top: 0px;
    }

    #delivery-partner {
        height: auto;
        padding: 1px;
        width: 100%;
    }

    #contact h4,
    h1 {
        font-size: 20px;
    }

    #chef-main {
        height: auto;
    }

    .chef-item img {
        width: 100%; /* Make the image take up 100% of its container's width */
        height: auto; /* Maintain aspect ratio */
        max-width: 200px; /* Limit the maximum width of the image */
        display: block; /* Remove any default spacing or alignment issues */
        margin: 10px auto; /* Center the image within its container with some margin */
    }

    .main-form {
        width: 100%;
        height: auto;
    }
}































body {
    font-family: 'lato', sans-serif;
  }
  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
    small {
      font-size: 0.5em;
    }
  }
  
  .responsive-table {
    li {
      border-radius: 3px;
      padding: 25px 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }
    .table-header {
      background-color: rgb(245, 49, 23,0.8);
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
    }
    .table-row {
      background-color: #ffffff;
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    }
    .col-1 {
      flex-basis: 10%;
    }
    
    .col-4 {
      flex-basis: 15%;
    }
    
    @media all and (max-width: 767px) {
      .table-header {
        display: none;
      }
     
      li {
        display: block;
      }
      .col {
        
        flex-basis: 100%;
        
      }
      .col {
        display: flex;
        padding: 10px 0;
        &:before {
          color: #6C7A89;
          padding-right: 10px;
          content: attr(data-label);
          flex-basis: 50%;
          text-align: right;
        }
      }
    }
  }
  
body{
    margin:0;
    overflow-x:hidden;
    }
    
    .footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:rgb(128, 128, 128);
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }

  